body{
    background: rgb(0,212,255);
background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    font-family: 'Lato', sans-serif;
}
.fa-plane{
    font-size: 60px;
}
.clip-path-right{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 15px rgb(22, 22, 22);
}